.d-flx{
    display: flex;
}
.li-none{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.j-c-sb{
    justify-content: space-between;
}

.al-i-c{
    align-items: center;
}
.d-grid{
    display: grid;
    grid-gap: 30px;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio-container{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    /* max-width: 900px; */
}
.add-portfolio-btn{
    margin-bottom: 3rem;
}
.portfolio-card{
    width: 250px;
}
.portfolio-card a svg {
    width: 30px;
    height: 30px;
}

.portfolio-img{
    width: 100%;
    object-fit: cover;
}

.portfolio-name{
    font-weight: bold;
    padding-top: 1rem;
}

.popup-container{
    position: relative;
}

.open-modal{
    position: absolute;
    top: 40px;
    right: -25px;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.open-modal:target {
    visibility: visible;
    opacity: 1;
  }
.cancel{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.popup{
    text-align: center;
    padding: 10px 0;
    color: #000;
    background: #fff;
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 100px;
    /* position: absolute; */
    transition: all 5s ease-in-out;
}
@media only screen and (min-width: 375px){
    .portfolio-card{
        width: 300px;
    }

    .d-grid{
        display: grid;
        grid-gap: 30px;
        grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media only screen and (min-width: 500px){
    .portfolio-container{
        margin-left: 3rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        /* max-width: 900px; */
    }

    .portfolio-card{
        width: 450px;
    }

    .d-grid{
        display: grid;
        grid-gap: 30px;
        grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media only screen and (min-width: 1300px){
    .portfolio-container{
        margin-left: 5rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        /* max-width: 900px; */
    }

    .portfolio-container{
        margin-left: 5rem;
        margin-top: 2rem;
        width: 940px; 
    }
    
}

@media only screen and (min-width: 2000px){
    .portfolio-container{
        margin-left: 5rem;
        margin-top: 2rem;
        width: 1300px; 
    }
    
    .d-grid{
        display: grid;
        grid-gap: 30px;
        grid-template-columns:  repeat(auto-fit, minmax(500px, 1fr));
    }
    .portfolio-card{
        width: 600px;
    }
}