{% set title = "About"%} {% extends 'layout.html' %} {% block page_content %}
<div class="container-fluid px-5" id="content">
        <div class="row d-block">
            <div class="mb-4">
                <h3 class="about__heading">About</h3>
            </div>
            <div class="w-100">
                <p class="text-justify about-text">{{ about | raw }}</p>
            </div>
        </div>
        <div class="row d-block">
            <div class="mt-5">
                <h3 class="about__heading">Contact</h3>
            </div>
            <div class="row justify-content-lg-start justify-content-md-start justify-content-sm-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    {% if message.success %}
                    <div class="alert alert-success" id="msgContainer" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-11">{{ message.success }}</div>
                                <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)" style="text-decoration:none;color:#111;">&times;</a></div>
                            </div>
                    </div>
                    {% elseif message.FormFieldError %}
                    <div class="alert alert-danger" id="msgContainer" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-11">{{ message.FormFieldError }}</div>
                                <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)" style="text-decoration:none;color:#111;">&times;</a></div>
                            </div>
                    </div>
                    {% elseif message.serverError %}
                    <div class="alert alert-warning" id="msgContainer" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-11">{{ message.serverError }}</div>
                                <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)" style="text-decoration:none;color:#111;">&times;</a></div>
                            </div>
                    </div>
                    {% elseif message.ownerEmailNotProvided %}
                    <div class="alert alert-info" id="msgContainer" style="margin-top:20px;">
                        <div class="row">
                            <div class="col-11">Oops,Sorry you can't send your feedback yet!</div>
                            <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)" style="text-decoration:none;color:#111;">&times;</a></div>
                        </div>
                    </div>
                    {% endif %}
                    <form class="contact-us-form mt-5" action="/send" method="POST">
                        <div class="form-group">
                            <input type="text" name="guestName" placeholder="Name" value="{{ message.name }}" class="form-control">
                            {% if message.nameError %}
                            <span class="text-danger">{{ message.nameError }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="email" name="guestEmail" placeholder="Email" value="{{ message.email }}" class="form-control">
                            {% if message.emailError %}
                            <span class="text-danger">{{ message.emailError }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                                <input type="text" name="guestSubject" placeholder="Subject" value="{{ message.subject }}" class="form-control">
                                {% if message.subjectError %}
                                <span class="text-danger">{{ message.subjectError }}</span>
                                {% endif %}
                            </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message" name="guestMsg" rows="5" cols="10">{{ message.msg }}</textarea>
                            {% if message.msgError %}
                            <span class="text-danger">{{ message.msgError }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary" name="send" {% if message.ownerEmailNotProvided %} disabled style="cursor:not-allowed;" {% endif %}  type="submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

            </div>
        
        <script>
            let closeBtn = document.getElementById('closebtn');
            closeBtn.addEventListener('click',function(){
                document.getElementById('msgContainer').style.display='none';
            });
        </script>
</div>
</div>
</div>
</div>
{% endblock page_content %}
