{% set title = "Timeline"%} {% extends 'layout.html' %} {% block page_content %}

<style>
  .mb-editor-area {
    background: #f5f5f5;
    border-radius: 5px;
  }

  .mb-editor {
    background: #ffffff;
    border-radius: 5px;
  }

  .mb-textarea {
    border: none;
    font-size: 18px;
    line-height: 22px;
    resize: none;
  }

  .mb-textarea::placeholder {
    font-weight: bold;

  }

  .mb-textarea:focus {
    outline: none !important;
    border: 0;
    box-shadow: none;
  }

  .mb-icon-link {
    color: #000000;
  }

  .mb-icon-link:hover {
    color: #000000;
  }

  .icon-audio,
  .icon-photo,
  .icon-video {
    cursor: pointer;
  }

  .icon-audio {
    color: #C61639;
  }

  .icon-photo {
    color: #280a66;
  }

  .icon-video {
    color: #6C63FF;
  }

  .btn-mb-post,
  .btn-mb-submit {
    background: #3B0E75;
    color: #ffffff;
    border-radius: 5px;
    border: none;

  }

  .btn-mb-post:hover,
  .btn-mb-submit:hover,
  .btn-mb-cancel {
    background: #ffffff;
    color: #3B0E75;
    border-radius: 5px;
    border: 1px solid #3B0E75;

  }

  .mb-content {
    color: var(--mb-text-color);
    font-size: 18px;
    line-height: 140%;
  }

  .mb-image {
    object-fit: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }



  .mb-title {
    color: #000000;
    line-height: 1.3em;
    font-size: 24px;
  }

  .mb-title:hover {
    color: #000000;
    text-decoration: underline;
  }

  .mb-post-time {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
  }

  .mb-reply {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .mb-reply:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .mb-pagination a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
  }

  .mb-pagination a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  /* Media Query */
  @media screen and (max-width: 768px) {
    .mb-editor {
      flex-direction: column-reverse;
      padding: 1rem 0.5rem !important;
      align-items: flex-start !important;
    }

    .textarea-control {
      align-items: flex-start !important;
      margin-top: 1rem !important;
    }

    .mb-textarea,
    .mb-audio,
    .mb-photo,
    .mb-video {
      margin: 0 0 0 4px !important;
    }

    .mb-textarea {
      font-size: 14px;
      padding: 0 !important;
    }

    .reply-form {
      width: 100% !important;
    }
  }
</style>


      <!-- Page Content section -->
      <div id="content">
        <!-- editor -->
        <div class="row">
          <div class="col-12">
            <!-- <div id="editor"></div> -->
         <!-- The editor code goes here -->
         <div id="form-container">
            <form method="POST" class="portfolio-editor" id="portfolio-form">

            <!-- Quill editor code goes here -->
            <div class="row">
                <div class="col-12">
                  <div class="row form-group">
                    <div class="col-12 py-3">
                      <label for="new-post-title" class="sr-only">Title</label>
                      <input
                        type="text"
                        name="title"
                        id="new-post-title"
                        class="form-control"
                        placeholder="Title"
                        required
                      />
                    </div>
                    <div class="col-12 py-3">
                      
                    </div>
                    <div class="col-12"><div id="editor"></div></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex flex-row-reverse">
                  <input
                    type="submit"
                    class="btn btn-primary publish-post"
                    value="Create"
                  />
                  <input
                    type="button"
                    class="btn btn-primary save-draft"
                    value="Save Draft"
                  />
                  <input
                    type="reset"
                    class="btn btn-primary canel-post"
                    value="Cancel"
                  />
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>

      <!--Micro Blog Posts Ends here -->
   </div>

   </div>
 </div>
</div>
</div>
</div>
</div>
</div>

<!-- Convert to markdown script -->
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>
<script src="https://unpkg.com/turndown-plugin-gfm/dist/turndown-plugin-gfm.js"></script>
<!-- convert to markdown script ends -->


<script>
  // added by sleekX
  var form = document.querySelector('.portfolio-editor');

  // handle creating new post
  form.onsubmit = newPostSubmitHandler;

  // handle saving draft
  document.querySelector('input[value="Save Draft"]').addEventListener('click', newPostSubmitHandler);

  function newPostSubmitHandler(event) {
    event.preventDefault();

    const formData = new FormData(document.querySelector('#portfolio-form'));
    const blogBody = document.querySelector('.ql-editor').innerHTML;

    // convert to markdown
    const turndownService = new TurndownService({ codeBlockStyle: 'fenced' });
    const gfm = turndownPluginGfm.gfm;
    turndownService.use(gfm);
    let markdown = turndownService.turndown(blogBody);

    // check if the form is being submitted
    // which would mean a new post is being created rather than saving a draft
    const newPostIsBeingCreated = event.target instanceof HTMLFormElement;

      // get all imageURIs in the document
      let imageURIs = markdown.match(/\!\[\]\(data:image\/\w+;base64,[^)]*\)/g);
      // are there images in the blog post?
      if (imageURIs) {
        // remove duplicates
        imageURIs = imageURIs.reduce((acc, curVal) => {
          if (!acc.includes(curVal)) acc.push(curVal);
          return acc;
        }, []);

        imageURIs.forEach(imageURI => {
          const [, fullURI, ext, uriData] = imageURI.match(/\!\[\]\((data:image\/(\w+);base64,([^)]*))\)/);
          const id = Math.random().toString(36).substr(2, 10);
          const newImgName = `img-${id}.${ext}`;

          // replace the image URI everywhere it occurs in the markdown
          let stillMatching = true;
          while (stillMatching) {
            if (markdown.includes(fullURI)) {
              markdown = markdown.replace(fullURI, `/storage/images/portfolio-images${newImgName}`);
            } else {
              stillMatching = false;
            }
          }

          // add this info to the form data being sent to the backend
          formData.set(newImgName, uriData);
        });
      }

    formData.set('postVal', markdown);

    // get tags
    const selected = document.querySelectorAll('#new-post-tags option:checked');
    const selectedTags = Array.from(selected).map(el => el.value);
    formData.set('tags', selectedTags);

    // send the form data
    fetch(newPostIsBeingCreated ? '/newportfolio' : '/saveDraft', {
      method: 'POST',
      body: formData
    }).then(res => res.text()).then((res) => {
      console.log(res);
      if (window.confirm(`Check console for response.
      Redirect to view new post?`)) {
        window.location = '/portfolio-created';
      }
    }).catch((err) => {
      alert(`Failed with the following message: ${err.message}`);
    });
  };
  // sleekx code ends here


  //Initialize Quill editor
  var toolbarOptions = [
    ['bold', 'italic'],
    ['blockquote'],
    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    ['link', 'image'],
    ['clean']
  ];
  var quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: toolbarOptions
    },
    placeholder: 'Showcase your trophies...'
  });
</script>
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
{% endblock page_content %}