{% set title = "Lucid"%}
{% extends 'layout.html' %} {% block page_content %}

<!-- Page Content section -->
<div id="content">
  <!-- editor -->
  <div class="row">
    <div class="col-12">
      <!-- <div id="editor"></div> -->
    </div>
  </div>
  <!-- Feed listing -->
  <div class="row">
    <div class="col-12">
{% for key, feed in posts %}
{% if feed.image is not same as (" ") %}
      <div class="row pt-4 pb-4">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <img src="{{feed.image | raw}}" alt="{{feed.title | raw}}" class="img-fluid post-image" />
        </div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-7">
          <div class="second">
            <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
            <a href="blog-details/{{feed.link}}">
              <h3><b>{{feed.title | raw}}</b></h3>
            </a>
            <p>{{feed.desc | raw}}</p>
          </div>
        </div>
      </div>
{% endif %}
{% else %}
      <div class="row pt-4 pb-4">
        <div class="col-12 col-sm-11 col-md-11 col-lg-10">
          <div class="second">
            <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
            <a href="blog-details/{{feed.link}}">
              <h3><b>{{feed.title | raw}}</b></h3>
            </a>
            <p>{{feed.desc | raw}}</p>
          </div>
        </div>
      </div>

  {% endfor %}
    </div>
  </div>
  <!-- Feed section ends here -->
</div>
</div>
</div>
</div>
{% endblock page_content %}
