{% set title = "Portfolio"%} {% extends 'layout.html' %} {% block page_content %}

<div class="col-12 col-sm-9 two">
    <div class="row">
        <div class="col-12 pb-4 pt-4">
            <a class="btn" style="background-color:#871E99; color:#fff" href="#" role="button">+ ADD PORTFOLIO</a>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-5 pb-4 pt-4">
                    <img src="resources/themes/ghost/assets/img/portfolio-photo1.png" class="float-left pr-4 pb-4" alt="...">
                    <h5>Nike App</h5>
                </div>

                <div class="col-5 pb-4 pt-4">
                    <img src="resources/themes/ghost/assets/img/portfolio-photo2.png" class="float-left pb-4" alt="...">
                    <h5>HNG Folio</h5>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-5 pb-4 pt-4">
                    <img src="resources/themes/ghost/assets/img/portfolio-photo1.png" class="float-left pr-4 pb-4" alt="...">
                    <h5>APOE 4</h5>
                </div>

                <div class="col-5 pb-4 pt-4">
                    <img src="resources/themes/ghost/assets/img/portfolio-photo2.png" class="float-left pb-4" alt="...">
                    <h5>Ziki</h5>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-5 pb-4 pt-4">
                    <img src="resources/themes/ghost/assets/img/portfolio-photo1.png" class="float-left pr-4 pb-4" alt="...">
                    <h5>Google X</h5>
                </div>

                <div class="col-5 pb-4 pt-4">
                    <img src="resources/themes/ghost/assets/img/portfolio-photo2.png" class="float-left pb-4" alt="...">
                    <h5>Lucid</h5>
                </div>
            </div>
        </div>


    </div>


</div>
</div></div></div>
{% endblock page_content %}
