{% set title = "Portfolio"%} {% extends 'layout.html' %} {% block page_content %}



<!-- Trigger the modal with a button -->

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>
                        <div class="form-group">
                            <label for="text">Title</label>
                            <input type="text" class="form-control" id="title" aria-describedby="#" placeholder="Enter title">
                          </div>
                          <div class="form-group">
                            <label for="text">Text</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter Text">
                          </div>
                          <!-- Image upload starts here-->
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Upload Image</label>
                                  <div class="input-group">
                                      <span class="input-group-btn">
                                          <span class="btn btn-default btn-file">
                                               <input type="file" id="imgInp">
                                          </span>
                                      </span>
                                  </div>
                                  <img id='img-upload'/>
                              </div>
                          </div>
                          <!--Image upload ends here-->
                          <button type="submit" class="btn btn-primary">Submit</button>
                  </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <!--End of Modal-->

<div class="">
    <div class="portfolio-container">
        <div class="add-portfolio-btn">
            <a class="btn" style="background-color:#871E99; color:#fff" href="#" role="button" data-toggle="modal" data-target="#myModal">+ ADD PORTFOLIO</a>
        </div>
        <div class="d-grid">
            <!-- Portfolio card 1 -->
            <div class="portfolio-card">
                <img src="resources/themes/ghost/assets/img/portfolio-photo1.png" class="portfolio-img" alt="...">
                    <div class="d-flx j-c-sb al-i-c">
                        <h5 class="portfolio-name"><a href="/portfolio-expanded">Nike App</a></h5>
                        <div>
                            <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="">EDIT</a>
                                <a class="dropdown-item" href="">DELETE</a>  
                            </div>
                        </div>
                    </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et...
                </p>
            </div>
            <!-- portfolio card 2 -->
            <div class="portfolio-card">
                <img src="resources/themes/ghost/assets/img/portfolio-photo2.png" class="portfolio-img" alt="...">
                    <div class="d-flx j-c-sb al-i-c">
                        <h5 class=portfolio-name>HNG Folio</h5>
                        <div>
                            <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="">EDIT</a>
                                <a class="dropdown-item" href="">DELETE</a>  
                            </div>
                        </div>
                    </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et...
                </p>
            </div>
            <!-- portfolio card 3 -->
            <div class="portfolio-card">
                <img src="resources/themes/ghost/assets/img/portfolio-photo1.png" class="portfolio-img" alt="...">
                <div class="d-flx j-c-sb al-i-c">
                    <h5 class=portfolio-name><a href="/portfolio-expanded">APOE 4</a></h5>
                    <div>
                        <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">EDIT</a>
                            <a class="dropdown-item" href="">DELETE</a>  
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et...
                </p>
            </div>
            <!-- portfolio card 4 -->
            <div class="portfolio-card">
                <img src="resources/themes/ghost/assets/img/portfolio-photo2.png" class="portfolio-img" alt="...">
                <div class="d-flx j-c-sb al-i-c">
                    <h5 class=portfolio-name><a href="/portfolio-expanded">Ziki</a></h5>
                    <div>
                        <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">EDIT</a>
                            <a class="dropdown-item" href="">DELETE</a>  
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et...
                </p>
            </div>
            <!-- portfolio card 5 -->
            <div class="portfolio-card">
                <img src="resources/themes/ghost/assets/img/portfolio-photo1.png" class="portfolio-img" alt="...">
                <div class="d-flx j-c-sb al-i-c">
                    <h5 class=portfolio-name><a href="/portfolio-expanded">Google X</a></h5>
                    <div>
                        <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">EDIT</a>
                            <a class="dropdown-item" href="">DELETE</a>  
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et...
                </p>
            </div>
            <!-- portfolio card 6 -->
            <div class="portfolio-card">
                <img src="resources/themes/ghost/assets/img/portfolio-photo2.png" class="portfolio-img" alt="...">
                <div class="d-flx j-c-sb al-i-c">
                    <h5 class=portfolio-name><a href="/portfolio-expanded">Lucid</a></h5>
                    <div>
                        <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">EDIT</a>
                            <a class="dropdown-item" href="">DELETE</a>  
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquam excepturi sapiente voluptatum itaque, corrupti dolorem laudantium iure velit voluptates odit quae omnis libero et...
                </p>
            </div>
        </div>

    </div>


</div>
</div></div></div>
{% endblock page_content %}
