{% set title = "Profile"%}
{% extends 'layout.html' %}
{% block page_content%}

<!-- content goes here -->

<div class="container-fluid" id="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10 mt-3 offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1">

      {% set navigation = [
        {'href': 'settings', 'caption': 'Settings'},
        {'href': 'profile', 'caption': 'Profile'},
        {'href': 'subscriptions', 'caption': 'Subscriptions'}
        ]
      %}

      {% include "navtabs.html" with {'current_page': 'profile'} %}

      <div class="row profile-main py-2">
        <div class="col profile-content-area p-1 pb-5 mt-5 mr-3">
          <div class="row d-flex flex-column px-0 pt-2 pb-5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-dp-container">
              <figure class="profile-dp-link mx-auto">
                <input type="file" name="" id="imagefile" accept="image/*" />
                <img src="{{settings.image}}" class="profile-dp d-block mx-auto rounded-circle" alt="profile avatar"
                  accept="image/*">
              </figure>
            </div>

            <form class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="fullName" class="font-weight-bold profile-edit-label d-none">Full Name</label>
                <input type="text" class="form-control " id="fullname" aria-describedby="fullname"
                  value="{{settings.name}}" placeholder="Full Name">
              </div>
              <div class="form-group">
                <label for="shortbio" class="font-weight-bold profile-edit-label d-none">Short Bio</label>
                <textarea class="form-control" id="shortbio" placeholder="Short Bio" rows="3"></textarea>
              </div>
              <button type="submit"
                class="btn float-md-right profile-submit-btn text-white d-block mx-auto mt-3 text-upppercase">update</button>
            </form>
            <!-- Please the form fields below should not be touched and ensure to contact @porh if 
              you don't understand -->
            <form class="pb-5 mt-5 col-lg-8 col-md-8 col-sm-12 col-xs-12" action="/updateabout" method="POST">

              <div class="form-group">
                {% if message.aboutError %}
                <span class="text-danger">{{ message.aboutError }}</span>
                {% else %}
                <label for="about" class="font-weight-bold profile-edit-label">About Me</label>
                {% endif %}
                <textarea class="form-control" name="about" id="about" placeholder="About"
                  rows="5">{{ about | raw }}</textarea>
              </div>
              <button type="submit"
                class="btn float-md-right profile-submit-btn text-white d-block mx-auto mt-3 text-upppercase">update</button>
            </form>

            {% if message.success %}
            <div class="alert alert-success" id="msgContainer"
              style="width:40%;top:120px;right:10px;position:fixed;z-index: 9999999;">
              <div class="row">
                <div class="col-11">{{ message.success }}</div>
                <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)"
                    style="text-decoration:none;color:#111;">&times;</a></div>
              </div>
            </div>
            {% elseif message.FormFieldError %}

            <div class="alert alert-danger" id="msgContainer"
              style="width:40%;top:120px;right:10px;position:fixed;z-index: 9999999;">
              <div class="row">
                <div class="col-11">{{ message.FormFieldError }}</div>
                <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)"
                    style="text-decoration:none;color:#111;">&times;</a></div>
              </div>
            </div>
            {% elseif message.serverError %}
            <div class="alert alert-warning" id="msgContainer"
              style="width:40%;top:120px;right:10px;position:fixed;z-index: 9999999;">
              <div class="row">
                <div class="col-11">{{ message.serverError }}</div>
                <div class="col-1 text-right"><a id="closebtn" href="javascript:void(0)"
                    style="text-decoration:none;color:#111;">&times;</a></div>
              </div>
            </div>
            {% endif %}

            <form class="pb-5 mt-5 col-lg-8 col-md-8 col-sm-12 col-xs-12" method="POST" action="/setcontactemail">

              <div class="form-group">

                {% if message.emailError %}
                <span class="text-danger">{{ message.emailError }}</span>
                {% else %}
                <label for="email" class="font-weight-bold profile-edit-label">Contact Email</label>
                {% endif %}
                <input class="form-control" value="{{ userEmailAddr }}" type="email" name="contactEMail" id="email"
                  placeholder="Email" />

              </div>
              <button type="submit"
                class="btn float-md-right profile-submit-btn text-white d-block mx-auto mt-3 text-upppercase">update</button>
            </form>
            <!-- My task field ended here should not be touched and ensure to contact @porh if 
              you don't understand -->
          </div>
        </div>
      </div>
    </div>

    <script>
      // handle image upload
      var defaultImagePath = '/resources/themes/ghost/assets/img/user-icon-placeholder.png';
      var imageInput = document.getElementById('imagefile');
      var editPic = document.querySelector('.profile-dp-link img');
      var profilePic = document.querySelector('.profile-pic');

      imageInput.addEventListener('change', function () {
        var fileData = this.files[0],
          fileType = fileData.type,
          match = ["image/jpeg", "image/png", "image/jpg"];

        if (match.indexOf(fileType) == -1) {
          alert('Please select a valid image', 'warning');
          return false;
        } else {
          var reader = new FileReader();
          reader.onload = imageIsLoaded;
          reader.readAsDataURL(this.files[0]);
        }

        //render image preview
        function imageIsLoaded(e) {
          editPic.setAttribute('src', e.target.result);
          profilePic.setAttribute('src', e.target.result);
          localStorage.setItem("profilepic", e.target.result); //save offline
          //perform upload in background
          handleUpload(fileData);
        };

      });

      function handleUpload(fileData) {
        var formData = new FormData();
        formData.append("image", fileData);
        //call upload image api
        fetch('/api/upload-image', {
          method: 'POST',
          body: formData
        }).then(res => res.json()).then((res) => {
          //use response to set profile image back
          console.log(res);
        }).catch((err) => {
          alert(`Upload request failed : ${err.message}`);
        });
      }
      //please don't touch the code below
      //it's a core part of this script
      window.onscroll = function () { MsgContainer() };

      function MsgContainer() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          document.getElementById("msgContainer").style.top = "30px";
        } else {
          document.getElementById("msgContainer").style.top = "120px";
        }
      }
      let closeBtn = document.getElementById('closebtn');
      closeBtn.addEventListener('click', function () {
        document.getElementById('msgContainer').style.display = 'none';
      });
    </script>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock page_content %}