{% set title = "Timeline"%} {% extends 'layout.html' %} {% block page_content %}
      <!-- Page Content section -->
      <div id="content">
        <!-- editor -->
        <div class="row">
          <div class="col-12">
            <!-- <div id="editor"></div> -->
         <!-- The editor code goes here -->
         <div id="form-container">
          <form method="POST" class="timeline-editor" id="editor-form">
            <!-- Quill editor code goes here -->
            <div class="row">
              <div class="col-12">
                <div class="row form-group">
                  <div class="col-12 py-3">
                    <label for="new-post-title" class="sr-only">Title</label>
                    <input
                      type="text"
                      name="title"
                      id="new-post-title"
                      class="form-control"
                      placeholder="Title"
                      required
                    />
                  </div>
                  <div class="col-12 py-3">
                    <label for="new-post-tags">Post tags</label>
                    <select multiple class="form-control" id="new-post-tags">
                      <option value="#politics">politics</option>
                      <option value="#sports">sports</option>
                      <option value="#food-health">food/health</option>
                      <option value="#travel">travel</option>
                      <option value="#technology">technology</option>
                      <option value="#music">music</option>
                      <option value="#news-lifestyle">news/lifestyle</option>
                      <option value="#fitness">fitness</option>
                      <option value="#movies">movies</option>
                      <option value="#culture">culture</option>
                    </select>
                  </div>
                  <div class="col-12"><div id="editor"></div></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex flex-row-reverse">
                <input
                  type="submit"
                  class="btn btn-primary publish-post"
                  value="Publish"
                />
                <input
                  type="button"
                  class="btn btn-primary save-draft"
                  value="Save Draft"
                />
                <input
                  type="reset"
                  class="btn btn-primary canel-post"
                  value="Cancel"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

        <!-- Feed listing -->
        {% for key, feed in posts %}
        <div class="row pt-4 pb-4">
          <div class="col-12">
            <div class="row pt-4 pb-4">
              <div class="col-2 col-sm-2 text-right">
                <img src="{{feed.img | raw}}" alt="ziki logo" class=" blogger-image" />
              </div>
              <div class="col-9 col-sm-9">
                <div class="row second">
                  <div class="col-12">
                    <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
                    <a href="{{feed.link}}">
                        <h3><b>{{feed.title | raw}}</b></h3>
                    </a>
                    <p>{{feed.desc | raw}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">{{feed.site | raw}}</div>
                  <div class="col-6 text-right">Comment</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Feed section ends here -->
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
