{% set title = "Timeline"%} {% extends 'layout.html' %} {% block page_content %}

<style>
  .btn.btn-primary.canel-post{background-color: transparent !important; border: 1px solid red; color: red; padding: 6px 20px;}
  .btn.btn-primary.publish-post{background-color: #280a66 !important; border: 1px solid #280a66; padding: 6px 20px;}
  .btn.btn-primary.save-draft{background-color: #280a66 !important; border: 1px solid #280a66; padding: 6px 20px;}
  .btn.btn-primary.canel-post, .btn.btn-primary.publish-post{margin-left: 7px;}
  .btn.btn-primary.canel-post, .btn.btn-primary.save-draft{margin-left: 7px;}

  .main-content{padding-top: 30px; padding-bottom: 30px;}

  .btn-info{background-color: #280a66 !important; border: 0 !important;}

  .hide{display: none !important;}
  .show{display: block !important;}

  .mb-editor-area {
    background: #f5f5f5;
    border-radius: 5px;
  }

  .mb-editor {
    background: #ffffff;
    border-radius: 5px;
  }

  .mb-textarea {
    border: none;
    font-size: 18px;
    line-height: 22px;
    resize: none;
  }

  .mb-textarea::placeholder {
    font-weight: bold;

  }

  .mb-textarea:focus {
    outline: none !important;
    border: 0;
    box-shadow: none;
  }

  .mb-icon-link {
    color: #000000;
  }

  .mb-icon-link:hover {
    color: #000000;
  }

  .icon-audio,
  .icon-photo,
  .icon-video {
    cursor: pointer;
  }

  .icon-audio {
    color: #C61639;
  }

  .icon-photo {
    color: #280a66;
  }

  .icon-video {
    color: #6C63FF;
  }

  .btn-mb-post,
  .btn-mb-submit {
    background: #3B0E75;
    color: #ffffff;
    border-radius: 5px;
    border: none;

  }

  .btn-mb-post:hover,
  .btn-mb-submit:hover,
  .btn-mb-cancel {
    background: #ffffff;
    color: #3B0E75;
    border-radius: 5px;
    border: 1px solid #3B0E75;

  }

  .mb-content {
    color: var(--mb-text-color);
    font-size: 18px;
    line-height: 140%;
  }

  .mb-image {
    object-fit: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }



  .mb-title {
    color: #000000;
    line-height: 1.3em;
    font-size: 24px;
  }

  .mb-title:hover {
    color: #000000;
    text-decoration: underline;
  }

  .mb-post-time {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
  }

  .mb-reply {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .mb-reply:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .mb-pagination a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
  }

  .mb-pagination a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  /* Media Query */
  @media screen and (max-width: 768px) {
    .mb-editor {
      flex-direction: column-reverse;
      padding: 1rem 0.5rem !important;
      align-items: flex-start !important;
    }

    .textarea-control {
      align-items: flex-start !important;
      margin-top: 1rem !important;
    }

    .mb-textarea,
    .mb-audio,
    .mb-photo,
    .mb-video {
      margin: 0 0 0 4px !important;
    }

    .mb-textarea {
      font-size: 14px;
      padding: 0 !important;
    }

    .reply-form {
      width: 100% !important;
    }
  }
</style>


      <!-- Page Content section -->
      <div id="content">
        <!-- editor -->
        <div class="row">
          <div class="col-12">
            <!-- The editor code goes here -->
            <div id="form-container">
              <form method="POST" class="timeline-editor" id="editor-form">
                <div class="row">
                  <div class="col-12 text-right">
                    <span id="num_char" class="badge badge-warning">Micro-Blog Mode</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="row form-group">
                      <div class="col-12 py-3" id="titleBox">
                        <label for="new-post-title" class="sr-only">Title</label>
                        <input type="text" id="new-post-title" class="form-control hide" placeholder="Title"/>
                      </div>
                      <div class="col-12"><div id="editor"></div></div>
                    </div>
                  </div>
                </div>

                <div class="row pt-5">
                  <div class="col-12">
                    <div class="row pt-3">
                      <div class="col-12 col-sm-12 text-right">
                        <input type="reset" class="btn-sm btn btn-primary canel-post" value="Cancel">
                        <input type="submit" class="btn-sm btn btn-primary publish-post" value="Publish">
                        <input type="button" class="btn-sm btn btn-primary save-draft" value="Save Draft"/>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Feed listing -->
        {% for key, feed in posts %}
        <div class="row pt-4 pb-4">
          <div class="col-12">
            <div class="row pt-4 pb-4">
              <div class="col-2 col-sm-2 text-right">
                <img src="{{feed.img | raw}}" alt="{{feed.title | raw}}" class=" blogger-image" />
              </div>
              <div class="col-9 col-sm-9">
                <div class="row second">
                  <div class="col-12">
                    <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
                    <a href="{{feed.link}}">
                        <h3><b>{{feed.title | raw}}</b></h3>
                    </a>
                    <p>{{feed.desc | raw}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">{{feed.site | raw}}</div>
                  <div class="col-6 text-right">Comment</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Feed section ends here -->

        <div class="mb-pagination mt-5 text-center">
          <a href="" class="text-right">Next>>></a>
          <a href="" class="d-none text-left"><<< Prev </a>
        </div> <!--Micro Blog Posts Ends here -->
      </div>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock page_content %}
