.donation-body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #6822ad;
  height: 100vh;
  background-image: url('Bg.png');
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  text-align: center;
}
.base-color {
  color: #6822ad;
}
.arrow {
  fill: #6822ad;
  width: 20px;
  height: 20px;
}
.fw-b {
  font-weight: 400;
}
.donation {
  height: 100vh;
  display: inline-block;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.h2-size {
  font-size: 20px;
}
.pt-hh {
  padding-top: 0.25rem;
}
.pl-h {
  padding-left: 0.5rem;
}
.btn-1 {
  border: 1px solid #6822ad;
  background: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 375px) {
  .donation-body {
    font-size: 16px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #6822ad;
    height: 100vh;
    background-image: url('Bg.png');
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    text-align: center;
  }

  .h2-size {
    font-size: 30px;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 1rem;
  }
  .mt-1h {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 425px) {
  .donation-body {
    font-size: 16px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #6822ad;
    height: 100vh;
    background-image: url('Bg.png');
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    text-align: center;
  }

  .h2-size {
    font-size: 30px;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .mt-1h {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .donation-body {
    font-size: 18px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #6822ad;
    height: 100vh;
    background-image: url('Bg.png');
    background-repeat: round round;
    background-color: #e5e5e5;
    text-align: center;
  }

  .h2-size {
    font-size: 36px;
  }

  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
}
