body {
  font-size: 1.1rem;
}

/*nav section*/
.top-nav {
  padding-bottom: 30px;
  padding-top: 30px;
}

.top-menu-item > a {
  color: white;
  transition: all ease-in 0.3s;
}

.top-menu-item > a:hover {
  text-decoration: none;
  transition: all ease-in 0.3s;
}

.top-menu-item {
  border: none;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all ease-in 0.3s;
}

.top-menu-item:hover {
  background-color: rgb(107, 57, 126);
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.top-menu-item-bcg {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  transition: all ease-in 0.3s;
}

.top-menu-item-bcg a {
  color: #8449b5;
  font-weight: bold;
  transition: all ease-in 0.3s;
}

.top-menu-item-bcg > a:hover {
  text-decoration: none;
}

.top-menu-item-bcg:hover {
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.third-tier-nav {
  background-color: var(--blue);
  padding-bottom: 10px;
  padding-top: 10px;
}

.third-tier-nav > ul > li > a.nav-link {
  color: var(--white) !important;
}

.nav-contact-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
}

.nav-contact-appeal {
  color: var(--blue);
  font-weight: bold;
}

.nav-call-us {
  font-weight: bold;
  margin: 0 0 0 -3px;
}

.top-section {
  /* background image gradient starts with mobile */
  /* check media queries for larger viewports */
  background: linear-gradient(170deg, #684ead 78%, white calc(78% + 2px));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70px;
  color: white;
}

.btn-light {
  pa-left: 15px;
}
b .nav-container {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.btn-login {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border-color: white;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-login:hover {
  color: #280a66;
}

.btn-hero {
  /*background: rgba(77, 44, 136, 0.41);*/
  background: linear-gradient(0deg, #f14336, #f14336),
    linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 10px;
  padding: 10px 25px;
  color: white;
}

.light-weight {
  font-weight: lighter;
}

.btn-hero-red-bcg {
  background-color: #f14336;
  color: #fff;
  font-weight: bold;
}

.padd-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padd-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padd-3 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padd-3 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padd-top-1 {
  padding-top: 20px;
}

.padd-top-2 {
  padding-top: 40px;
}

.padd-top-3 {
  padding-top: 60px;
}

.padd-top-3 {
  padding-top: 80px;
}

.padd-bottom-1 {
  padding-bottom: 20px;
}

.padd-bottom-2 {
  padding-bottom: 40px;
}

.padd-bottom-3 {
  padding-bottom: 60px;
}

.padd-bottom-3 {
  padding-bottom: 80px;
}

.working-progress-section {
}

.intro-heading {
  color: #7f46b4;
}

nav > a {
  color: white;
  text-decoration: none;
}

nav > a:hover {
  color: red;
  text-decoration: none;
}

/*phone animation */

img.phone-move {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
img.phone-move {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* end of animation */

.mobile-ready {
  background: url('../img/middle-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.mobile-ready-note {
  padding-top: 100px;
}
.mobile-ready-heading {
  color: #f14336;
  text-transform: uppercase;
}
.mobile-ready-note a {
  color: #fff;
}
button.get-access {
  background: #7f46b4 !important;
}

.waiting-list {
  background-image: url('../img/purple-gradient-bg.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 10vh;
  background: #01081f url('../img/footer_overlay.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

.mailing-container {
  margin-bottom: -100px;
  z-index: 100;
}

/* Waiting List Section */
.waiting-list-section {
  background-color: #8449b5;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.subscribe-input,
.subscribe-input:focus {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}

.subscribe-input::placeholder {
  color: #fff;
}

.btn-join {
  background: linear-gradient(0deg, #f2cd1c, #f2cd1c);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

form {
  padding-top: 30px;
}

.banner-info {
  z-index: 1;
}

/* Footer Area */

.footer-email a {
  text-decoration: none;
  color: white;
}
.footer-phone a {
  text-decoration: none;
  color: white;
  font-size: .9rem;
}
.footer-social a {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 1%;
  margin-right: 10px;
}
.footer-social a:hover {
  background: #fff;
}
/**/

/* THANK YOU PAGE STYLES */
.ty-donate {
  background-image: url(/landing/assets/img/Bg-donate.png);
  background-position: center;
  background-size: cover;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .top-section {
    background: linear-gradient(170deg, #684ead 70%, white calc(70% + 2px));
  }
}

@media screen and (min-width: 1200px) {
  .top-section {
    background: linear-gradient(173deg, #684ead 65%, white calc(65% + 2px));
  }
}

p {
  text-align: justify;
  text-justify: inter-word;
}
